.knowledge__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.knowledge__container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: var(--transition);
}

.knowledge__container > div:hover {
    border-color: var(--color-primary-variant);
    cursor: default;
}

.knowledge__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-white);
}

.knowledge__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.knowledge__details {
    display: flex;
    gap: 1rem;
}

.knowledge__details-icons {
    margin-top: 6px;
    color: rgb(255, 187, 123);
}

.knowledge__design {
    align-self: center;
}

@media screen and (max-width: 1024px) {
    .knowledge__container {
        grid-template-columns: 1fr;
    }

    .knowledge__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .knowledge__content {
        padding: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .knowledge__container {
        gap: 1rem;
    }

    .knowledge__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}