.websites {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.websites-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 80%;
    gap: 2em;
}

.website-card{
    padding: 15px;
    background: var(--color-bg-variant);
    overflow: hidden;
}

.website-card a {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.website-card a img {
    border-radius: 15px;
}

.website-title{
    text-align: center;
}